<!-- Header Section Start -->
<header id="header">
    <a href="/" class="logo"><b>EL SHEIKH</b></a>
    <div class="phone"><i class="fa fa-phone"></i>+20 1024285083</div>
    <div class="mobile-menu-btn"><i class="fa fa-bars"></i></div>
    <nav class="main-menu top-menu">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/room">Apartments</a></li>
            <li><a href="/amenities">Amenities</a></li>
            <li><a href="/booking">Booking</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/contact">Contact Us</a></li>
        </ul>
    </nav>
</header>
<!-- Header Section End -->